<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>equipos</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
</head>

<!--  BODY -->

<body>

	<!--  HEADER -->
	<!--  El header consiste solo en el titulo de la cabecera de la pagina usando un elemento titulo h1 -->
	<header>
		<h1>LIGA PROFESIONAL DE FUTBOL</h1>
	</header>
	<hr>
	
	<!--  NAV -->
	<!--  El menu de la pagina mostrara 3 elementos que enlasan con las demas paginas y con sigo misma; se considero no usar target="_black" en este menu para que no se abrieran pestañas adicionales-->
	<nav>
		<ul>
			<li><a href="Index.html"> Home </a></li>
			<li><a href="fixture.html"> Fixture y resultados </a></li>
			<li><a href="equipos.html"> Equipos </a></li>
		</ul>
	</nav>
	<hr>

	<!--  CONTENIDO -->
	<!--  Las noticias seran articles que usaran la clase equipos -->
	
	<section>
		<h3>Liga de futbol profesional</h3>

		<article class="equipos">
				<img src="img/bc.png" alt="no es visible" />
				<p>El Club Atlético Boca Juniors o simplemente Boca Juniors es
					una entidad deportiva argentina con sede en el barrio de La Boca,
					Buenos Aires. Fue fundado en dicho barrio el 3 de abril de 1905 por
					seis vecinos adolescentes hijos de italianos. El fútbol es su
					disciplina más destacada, aunque también compite a nivel
					profesional, nacional e internacionalmente, en baloncesto,
					voleibol, futsal y fútbol femenino, mientras que deportes como el
					boxeo, judo, karate, taekwondo, lucha, gimnasia rítmica y artística
					se practican a nivel amateur.</p>
		</article>

		<article class="equipos">
				<img src="img/rac.png" alt="no es visible" />
				<p>El Club Atlético Racing, conocido generalmente como Racing de
					Córdoba, es una entidad deportiva argentina de la ciudad de
					Córdoba. Fue fundado el 14 de diciembre de 1924 y su actividad
					principal es el fútbol profesional. Juega sus partidos de local en
					el Estadio Miguel Sancho, ubicado en el barrio de «Nueva Italia»,
					en la zona noreste de la ciudad.</p>
		</article>
		</section>

		<!--  ASIDE -->
		<!--  Columna lateral derecha que contiene un elemento titulo h3 e imagenes que enlazan los sitios webs simulando publicidad  -->
		
		<aside>
			<h3>Auspiciantes</h3>
			
			<a href="http://www.adidas.com.ar/" target="_blank"> <img
				src="img/adi.jpg" alt="no es visible" /></a> 
				
			<br> 
			
			<a href="https://www.macro.com.ar/" target="_blank"> <img
				src="img/banc.png" alt="no es visible" /></a> 
			
			<br> 
			
			<a href="https://www.chevrolet.com.ar/" target="_blank"> <img
				src="img/chev.jpg" alt="no es visible" /></a> 
				
			<br> 
			
			<a href="https://www.fravega.com/" target="_blank"> <img
				src="img/frav.jpg" alt="no es visible" /></a>
		</aside>


		<!--  FOOTER -->
		<!--  Pie de pagina que contiene una tabla  con 4 titulos y 4 imagenes correspondientes que enlazan a redes sociales simulando contactos, tambien se agrega informacin de contacto mendiate parrafos -->
		<footer>
			<table>
				<tr>
					<th>Facebook</th>
					<th>Twitter</th>
					<th>Instagram</th>
					<th>Tumbler</th>
				</tr>

				<tr>
					<!-- defino fila !-->
					<td><a href="https://www.facebook.com/" target="_blank"> <img
							src="img/fb.png" alt="no es visible" /></a></td>

					<!-- defino celdas normales !-->
					<td><a href="https://twitter.com" target="_black"> <img
							src="img/tw.png" alt="no es visible" /></a></td>

					<!-- defino celdas normales !-->
					<td><a href="https://www.instagram.com" target="_black"> <img
							src="img/in.png" alt="no es visible" /></a></td>

					<!-- defino celdas normales !-->
					<td><a href="https://www.tumblr.com/" target="_black"> <img
							src="img/tb.png" alt="no es visible" /></a></td>
				</tr>
			</table>
			<br>
			<p>Avda. Pedro Ortiz de Zarate N° 455 - Tel 388 4789555</p>
		</footer>
</body>
</html>